/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
  margin: 25px 50px;
  box-sizing: border-box;
}

p {
  font-size: 18px;
}

.nav {
  padding: 5px;
  background-color: yellowgreen;
  position: fixed;
  z-index: 432489079083409812309812;
}

.nav .nav__item {
  font-family: IBM Plex Mono;
  color: black;
  text-decoration: none;
  /* color: lightgray; */
  margin-right: 55px;
  margin-bottom: 5px;
  padding-top: 5px;
}

.logo {
  margin-left: 100px;
}

.hero {
  display: inline-block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 30px 80px;
}

.hero .hero__left {
  display: inline-block;
  margin-bottom: 75px;
}

.hero .hero__left .hero__left--text {
  font-size: 100px;
  text-align: center;
  
}

.hero .hero__left .hero__left--btn {
  background-color: white;
  height: 40px;
  width: 200px;
  border: 3px solid lightgray;
  padding: 0 10px;
  font-size: 17px;
  color: black;
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;

  font-family: IBM Plex Mono;
  text-transform: uppercase;
}

.hero .hero__right {
  display: inline-block;
  margin-left: 45px;
}

.hero__right--img {
  display: block;
}


.middle-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.customHR {
  height: 3px;
  background-color: black;
  margin: 30px 0;
}

.row1 {
  display: inline-block;
  margin-bottom: 40px;
  width: 100%;
  
}

.row1__box {
  display: inline-block;
  width: 49%;
  padding: 5px;
}


.row2 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
}

.row2__box {
  margin-top: 30px;
  display: inline-block;
  width: 33%;
  padding: 5px;
}

.contact__phone {
  margin: 15px 0;
}

.contact__email {
  margin: 15px 0;
}

address {
  font-size: 17px;
}

.copyright {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: IBM Plex Mono;
}